logs/
tmp/

# IDE/OS temp files
.DS_Store
*.swp
*.bak
*.txt
shellman/shellman.egg-info/PKG-INFO
shellman.egg-info/PKG-INFO
shellman/commands/__pycache__/
tests/__pycache__/test_count_lines.cpython-313-pytest-8.3.5.pyc
tests/__pycache__/test_file_stats.cpython-313-pytest-8.3.5.pyc
shellman/__pycache__/cli.cpython-313.pyc
shellman/__pycache__/__init__.cpython-313.pyc
tests/__pycache__/test_checksum_files.cpython-313-pytest-8.3.5.pyc
shellman/cli.py
tests/__pycache__/test_file_convert.cpython-313-pytest-8.3.5.pyc
tests/__pycache__/test_replace_text.cpython-313-pytest-8.3.5.pyc
tests/__pycache__/test_sys_summary.cpython-313-pytest-8.3.5.pyc
shellman/__pycache__/
tests/__pycache__/
